:root {
    --font-size: 1em;
    --font-regular: 400;
    --font-bold: 700;
    --font-family: 'Overpass', sans-serif;
    --orange: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --medium-grey: hsl(216, 22%, 22%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    background-color: var(--very-dark-blue);
    font-family: var(--font-family);
    font-size: var(--font-size);
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5 {
    font-weight: var(--font-bold);
    line-height: calc(var(--font-size) * 1);
    margin: 0;
    padding: 0;
}

p {
    font-weight: var(--font-regular);
    line-height: calc(var(--font-size) * 1.6);
    margin: 0;
    padding: 0;
}

ol, ul {
    list-style: none;
}

input, textarea, button, select {
    font: inherit;
    color: inherit;
}

img, picture, svg, video, object {
    display: block;
    max-width: 100%;
    height: auto;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

main {
    display: grid;
    place-items: center;
}

.modal {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: var(--dark-blue);
    color: var(--white);
    max-width: 350px;
    padding: 1.5rem;
    margin: 2rem;
    border-radius: 16px;
}

.modal__heading {
    font-weight: var(--font-bold);
}

.modal__paragraph {
    font-size: calc(var(--font-size) * 0.8);
    font-weight: var(--font-regular);
    color: var(--light-grey);
}

.modal__button {
    background-color: var(--orange);
    color: var(--white);
    border: none;
    padding: .8rem 2rem;
    margin: 0;
    width: 100%;
    border-radius: 32px;
    box-shadow: 2px 2px 16px rgba(0, 0, 0 , 0.2);
    font-size: calc(var(--font-size) * 0.8);
    font-weight: var(--font-bold);
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    transition: all .2s ease-out;
}

.modal__button:hover {
    background-color: var(--white);
    color: var(--orange);
}

.rate-wrapper {
    display: flex;
    justify-content: space-between;
}

.rate-wrapper__rate {
    cursor: pointer;
    transition: all .1s ease-out;
}

.rate-wrapper__rate:hover {
    background-color: var(--orange);
}

.submit-modal {
    display: grid;
    place-items: center;
    text-align: center;
    gap: 1.5rem;
}

.submit-modal__rate-submitted {
    font-weight: var(--font-regular);
    color: var(--orange);
    background-color: var(--medium-grey);
    padding: .2rem .8rem;
    width: fit-content;
    border-radius: 32px;
    opacity: 0.8;
}

.submit-modal__heading {
    font-weight: var(--font-bold);
}

.submit-modal__paragraph {
    font-size: calc(var(--font-size) * 0.8);
    font-weight: var(--font-regular);
    color: var(--light-grey);
}

.circle {
    background-color: var(--medium-grey);
    color: var(--light-grey);
    display: grid;
    place-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-weight: var(--font-regular);
    box-shadow: 2px 2px 16px rgba(0, 0, 0 , 0.1);
}